APP_POSTGRESQL__DEVELOPMENT__PASSWORD=nguyenlog205
APP_POSTGRESQL__DEVELOPMENT__USER=nguyenlog205
APP_POSTGRESQL__DEVELOPMENT__HOST=localhost
APP_POSTGRESQL__DEVELOPMENT__PORT=5432
APP_POSTGRESQL__DEVELOPMENT__DATABASE=legal_db